@font-face {
    font-family: ellen;
    src: url(Alice_in_Wonderland_3.ttf);
}

@font-face {
    font-family: ellen2;
    src: url(Deuxieme_Rang.otf);
}

:root {
    --font1: ellen;
    --font2: ellen2;
}

body {
    background-color:#6AF763 ;
    font-family: monospace, 'Courier New', Courier;
    width: 300px;
    max-width: 100;
    margin-left: auto;
    margin-right: auto;
}

div {
    text-align: center;
}

h1{
    color:#11750C ;
    font-family: var(--font1);
}

body p{
    color: #0a6405;
    text-align: justify;
    font-family: var(--font2);
   
}

ul li a {
    color: #198511;
}

img{
    width: 150px;
    border-radius: 50%;
    border-width: 6px;
    border-color: #11750C;
    border-style: solid;
}
   